* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #4a4848 !important;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.size {
  width: 500px;
  height: 30px;
}
.hidden {
  display: none;
}
.saved-message,
.delete-message {
  color: green;
  font-size: 16px;
  font-weight: 600;
  font-family: cursive;
  margin: 6px 0;
}
.delete-message {
  color: red;
}
.container {
  display: flex;
  justify-content: center;
}
.content {
  box-shadow: 4px 4px 1px #b5a7a7;
  border: 1px solid green;
  padding: 10px 100px;
  border-radius: 5px;
  background-color: rgb(232, 241, 250);
}
table {
  box-shadow: 5px 5px 5px 5px;
}
.title {
  font-family: fantasy;
  font-size: 40px;
  color: chocolate;
  font-weight: bold;
}
.action-image {
  margin: 0px 4px;
}
.action-image:hover {
  cursor: pointer;
}
